# Ignorar pastas e arquivos gerados
node_modules/
docs/
docs/design/
docs/documentacao
export/

# Ignorar arquivos específicos
*.log
*.css
export.scss

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar configurações de IDEs e editores
.vscode/
.idea/
*.swp
