<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/output.css" rel="stylesheet">
    <title>Equipe</title>
</head>
<body>
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
          <div class="max-w-2xl">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nossa Equipe</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Somos um grupo de estudantes do curso de Desenvolvimento de Software Multiplataforma da FATEC Matão. Este projeto é parte do nosso trabalho acadêmico, nossa equipe está comprometida a utilizar o conhecimento adquirido no curso para desenvolver uma solução eficaz e inovadora que contribua para uma cidade mais limpa e segura.</p>
          </div>
          <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
            <li>
              <div class="flex items-center gap-x-6">
                <img class="h-16 w-16 rounded-full" src="../img/jeronimo-barbieri.jpg" alt="Jeronimo Barbieri">
                <div>
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Jeronimo Barbieri</h3>
                  <p class="text-sm font-semibold leading-6 text-indigo-600">Designer UI/UX</p>
                </div>
              </div>
            </li>
      
            <li>
              <div class="flex items-center gap-x-6">
                <img class="h-16 w-16 rounded-full" src="../img/rafael-romano.jpg" alt="Rafael Romano Silva">
                <div>
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Rafael Romano Silva</h3>
                  <p class="text-sm font-semibold leading-6 text-indigo-600">Gestor de Projeto</p>
                </div>
              </div>
            </li>
      
            <li>
              <div class="flex items-center gap-x-6">
                <img class="h-16 w-16 rounded-full" src="../img/miguel-morandini.jpg" alt="Miguel Morandini">
                <div>
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Miguel Morandini</h3>
                  <p class="text-sm font-semibold leading-6 text-indigo-600">Desenvolvedor</p>
                </div>
              </div>
            </li>
      
            <li>
              <div class="flex items-center gap-x-6">
                <img class="h-16 w-16 rounded-full" src="../img/pedro-ferreira-leite.png" alt="Pedro Ferreira Leite">
                <div>
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Pedro Ferreira Leite</h3>
                  <p class="text-sm font-semibold leading-6 text-indigo-600">Analista de Dados</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
</body>
</html>