<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/output.css" rel="stylesheet">
    <title>Form Contato</title>
</head>
<body>
    <div class="min-h-screen flex items-center justify-center w-full bg-gray-900">
        <div class="bg-azul-paleta shadow-md rounded-lg px-8 py-6 max-w-md">
            <h1 class="text-2xl font-bold text-center mb-4 dark:text-gray-200">Entre em Contato</h1>
            <p class="text-center text-gray-400 mb-6">Se você tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar. Estamos aqui para ajudar!</p>
            <form action="#">
                <!-- Nome -->
                <div class="mb-4">
                    <label for="nome" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Nome</label>
                    <input type="text" id="nome" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Seu Nome" required>
                </div>
                <!-- E-mail -->
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">E-mail</label>
                    <input type="email" id="email" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="seu.email@email.com" required>
                </div>
                <!-- Assunto -->
                <div class="mb-4">
                    <label for="assunto" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Assunto</label>
                    <input type="text" id="assunto" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Assunto da Mensagem" required>
                </div>
                <!-- Mensagem -->
                <div class="mb-4">
                    <label for="mensagem" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Mensagem</label>
                    <textarea id="mensagem" rows="4" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Digite sua mensagem" required></textarea>
                </div>
                <!-- Botão de Enviar -->
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-verde-escuro-paleta hover:bg-verde-paleta duration-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Enviar</button>
            </form>
        </div>
    </div>

</body>
</html>